<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rosy's Cakes & Events</title>
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-li">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button id="toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span id="toggl" class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#introSec">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#productSec">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#lessonSec">Baking classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactSec">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section id="homeSec">

  <div class="containerHome">
    <div>
      <h3 id="welcome">Welcome to the sweet world of</h3>
    </div>

    <div>
      <h1 id="title">Rosy's Cakes <br/> & Events</h1>
    </div>
  </div>

</section>

<section id="introSec">

  <div class="containerIntro">
    <div id="photo">
      <img src="/assets/images/intro.jpg" id="photoImg" alt="">
    </div>
    <div id="bio">
      <h2 id="bioHead">Meet the creative baker</h2> <br>
      <p id="bioDes">I am passionate about the art of baking and creating delightful confections that
        bring joy to people's lives. With over a decade of experience in the culinary world,
        I have honed my skills to perfection, specializing in crafting artisanal bread, decadent pastries, and exquisite cakes.
        <br>
        <br>
        For me, baking is more than just a profession—it's a labor of love. I believe in using only the finest ingredients, sourced locally whenever possible, to ensure that each creation is not only delicious
        but also a reflection of my commitment to quality and excellence.
        <br>
        <br>
        I invite you to experience the magic of my bakery firsthand. Stop by and indulge in a freshly baked treat,
        or reach out to discuss custom orders for your special occasions. Together, let's create moments of sweetness that will be cherished for years to come.
      </p>
      <br>
    </div>

  </div>

</section>

<section id="productSec">

  <div class="containerProduct">

    <div id="productTitle"><h2>Our selection of cakes</h2></div>

    <hr class="new1">
    <hr class="new2">
    <hr class="new3">
    <hr class="new4">

    <div id="cake1"><img src="/assets/images/cake1.jpg" id="cake1Img" alt=""></div>
    <div id="cake2"><img src="/assets/images/cake2.jpg" id="cake2Img" alt=""></div>
    <div id="cake3"><img src="/assets/images/cake3.jpg" id="cake3Img" alt=""></div>
    <div id="cake4"><img src="/assets/images/cake4.jpg" id="cake4Img" alt=""></div>

    <a id="moreCakes" href="#productSec2" class="btn btn-outline">View more cakes</a>


  </div>

</section>

<section id="productSec2">

  <div class="containerProduct2">
    <div id="productTitle2"><h2>More of our delicious cakes...</h2></div>

    <hr class="new5">
    <hr class="new6">
    <hr class="new7">
    <hr class="new8">

    <div id="cake5"><img src="/assets/images/cake5.jpg" id="cake5Img" alt=""></div>
    <div id="cake6"><img src="/assets/images/cake9.jpg" id="cake6Img" alt=""></div>
    <div id="cake7"><img src="/assets/images/cake7.jpg" id="cake7Img" alt=""></div>
    <div id="cake8"><img src="/assets/images/cake8.jpg" id="cake8Img" alt=""></div>

    <a id="orderNow" href="#deliverySec" class="btn btn-outline2">Order now</a>

  </div>

</section>

<section id="deliverySec">

  <div class="containerDelivery">

    <div id="orderTitle"><h2>Order now, in three easy steps:</h2></div>

    <div id="step1Icon"><img src="/assets/images/one.png" id="one" alt=""></div>
    <div id="step1">
      <p>Send an image of the cake design you want, and your contact details.</p>
    </div>

    <div class="vl"></div>

    <div id="step2Icon"><img src="/assets/images/two.png" id="two" alt=""></div>
    <div id="step2">
      <p>Proceed to pay an upfront deposit of R500, so that your order can be confirmed.</p>
    </div>

    <div class="vl2"></div>

    <div id="step3Icon"><img src="/assets/images/three.png" id="three" alt=""></div>
    <div id="step3">
      <p>Lastly, sit back and enjoy the rest of your day as we bake your creation.</p>
    </div>

    <div id="truckIcon"><img src="/assets/images/truck.png" id="truck" alt=""></div>
    <div id="deliveryDes"><h2>* Delivery available at an additional cost</h2></div>


  </div>

</section>

<section id="lessonSec">

  <div class="containerLesson">

    <div id="lessonTitle"><h2>Bake with me! Join our baking classes</h2></div>
    <div id="lessonSubtitle"><h4>In FOUR days, you will learn how to:</h4></div>

    <ul id="list">
      <li id="item">bake an 8 inch cake</li>
      <li id="item">bake 12 cupcakes</li>
      <li id="item">decorate with buttercream</li>
      <li id="item">drip the cake</li>
      <li id="item">colour the buttercream</li>
      <li id="item">use isomalt</li>
    </ul>

    <div id="lessonBanner"><h3>Get this sweet deal for only R3 800. Plus, you'll take home your creations.
      <br/>
    </h3>
    </div>

    <div id="disclaimer"><h4>*All baking tools and ingredients will be provided.</h4></div>

    <a id="decorBtn" href="#decorSec" class="btn btn-outline">We do decor for kids' parties too!</a>


  </div>

</section>

<section id="decorSec">

  <div class="containerDecor">

    <div id="decorTitle"><h2>Follow us on our socials for more bites</h2></div>


    <div class="containerInsta">
      <img src="/assets/images/lessons22.jpg" alt="Avatar" class="image" style="width:100%">
      <a class="middle" href="https://www.instagram.com/rosyscakesandevents/" target="_blank">
        <div class="text">Visit us on Instagram</div>
      </a>
    </div>

  </div>

</section>

<section id="contactSec">

  <div class="containerContact">

    <div id="contactTitle"><h2>Find us here</h2></div>

    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.7717121760534!2d27.78266607497701!3d-26.26907156661828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a5f38f29f57b%3A0xcf40524b12947079!2sRosy&#39;s%20Cakes%20%26%20Events!5e0!3m2!1sen!2sza!4v1712012008583!5m2!1sen!2sza"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div id="contactHead"><h3>CONTACT</h3></div>
    <div id="hoursHead"><h3>OPENING HOURS</h3></div>
    <div id="adHead"><h3>ADDRESS</h3></div>

    <div id="email"><h3>palesa.kopung@yahoo.com</h3></div>
    <div id="phone"><h3>0732542825</h3></div>

    <div id="time1"><h3>MON-FRI: 8AM-5PM</h3></div>
    <div id="time2"><h3>SATURDAYS: 8AM-3PM</h3></div>

    <div id="add1"><h3>Protea Glen Ext. 16, Glenridge</h3></div>
    <div id="add2"><h3>Soweto, 1819</h3></div>

    <div id="right"><h3>&copy; 2024. Rosy's Cakes & Events. Developed by <a id="dev" href="https://profile-sg.vercel.app/" target="_blank">TypeCode</a> </h3></div>

  </div>

</section>

</body>
